{
    "tabWidth": 4,
    "semi": false,
    "singleQuotes": true,
    "jsxSingleQuote":false,
    "BracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "insertPragma": true
}
